<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: sans-serif; background: #eeeeee;">
    <div style="width: 500px;padding-left:30px;">
      <div style="margin-bottom: 20px; font-size: 24px;">
        <h3>Yacht Or Nyacht Request</h3>
      </div>

      <div style="padding: 30px; border-radius: 5px; text-align: left; background: #ffffff;">
        <div style="font-size: 20px; font-weight: 600">
          <span>"<%= @request.title %>" by <%= @request.artist %> <% if @request.link.present? %>(<a href="<%= @request.link %>">link</a>)<% end %>
        </div>

        <hr style="margin: 15px 0;">

        <div>
          <div style="margin-bottom:10px; font-size: 14px; font-weight: 600">
            Submitted By: <%= @request.name %>
          </div>

          <div>
            <span style="white-space: pre-wrap; font-size: 13px"><i><%= @request.message %></i></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
